## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

**IMPORT LIBRARIES**

**Impoting all the important libraries.**

In [ ]:
#import the libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as pg
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

We imported all the important libraries for the purpose of using functionality.

**For reading dataset into pandas dataframe**

In [ ]:
# Mount your drive 
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Read the data set of "Hotel Booking" from variable name data
data= pd.read_csv("/content/drive/MyDrive/Hotel Bookings.csv")

The purpose of loading the data "hotel_bookings.csv" into a dataframe.

In [ ]:
#creating a copy of dataset
df=data.copy()

Coping the whole dataset from variable "data" to"df" using the independent copy function.

In [ ]:
#Printing the data
df


To print the data in column wise manner after upload the csv file in the dataframe.

In [ ]:
#To find out the shape of data
df.shape

For the better understanding, we print the shape of data which shows the number of column and rows. We have total 119390 rows and 32 columns.

In [ ]:
#Print head of dataframe
df.head()

In [ ]:
#Print tail of dataframe
df.tail()

Here we have pinted 5 top and bottom rows of the date using 'Head' and 'Tail' method.

In [ ]:
#To show all the columns of the dataset
df.columns

To get all the columns of the Pandas dataframe.

In [ ]:
#To show the information of all the important aspects of dataset 
df.info()

To print a concise summary of a DataFrame.

In [ ]:
#Describe summary of the dataset
df.describe(include="all")

This is function is applied to get a descriptve summary of data set.

In [ ]:
#To transpose data
df.describe().T

With the describe function T property used to transpose the data where columns are converted into the rows and rows became columns.

In [ ]:
#To find out duplicate values 
df[df.duplicated()].shape

In [ ]:
#To count the duplicated values 
df.duplicated().value_counts()

In [ ]:
#Drop duplicate values 
df= df.drop_duplicates()
df.shape

Above 3 steps are used to find out the duplicate values and removing them. Current data is important and must be in precise form.